/* normal */
body
{
    margin: 0px;
    padding: 0px;
}
img
{
    border: none;
}
ul
{
    margin: 0px;
    padding: 0px;
}
li
{
    list-style: none;
}
.mbody
{
    overflow: hidden;
    background-image: url(c_18.jpg);
    background-repeat: repeat-x;
    width: 100%;
    color: #626262;
    font-size: 14px;
    font-family: 宋体;
}
.dsize
{
    width: 980px;
    margin: 0px auto;
}
.fleft
{
    float: left;
}
.fright
{
    float: right;
}
.mt10
{
    margin-top: 10px;
}
/* header */
.header
{
    width: 980px;
    overflow: hidden;
    position: relative;
    background-image: url(/img/c_20.jpg);
    background-repeat: no-repeat;
    height: 327px;
    background-color: White;
}
.dedit
{
    position: absolute;
    background-color: Green;
    color: White;
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    width: 75px;
    text-align: center;
}
.ep1
{
    right: 5px;
    bottom: 5px;
    display: none;
}
.ep2
{
    right: 2px;
    top: 2px;
}
.ep3
{
    right: 2px;
    bottom: 70px;
}
.titile
{
    position: absolute;
    overflow: hidden;
    float: left;
}
#dh
{
    position: absolute;
    width: 410px;
    height: 300px;
    right: 0px;
    top: 0px;
}
.cname
{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
.cname a
{
    font-size: 12px;
    color: Red;
    text-decoration: none;
    font-weight: normal;
}
.curl
{
    margin: 10px;
    font-family: Arial;
}
.curl a, .xuanyan a
{
    font-family: 宋体;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #626262;
}
.curl a:hover, .xuanyan a:hover
{
    font-family: 宋体;
    color: White;
    background-color: Green;
}
.xuanyan
{
    margin: 10px;
    width: 530px;
    line-height: 1.5;
    color: #626262;
}
.nav
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    _bottom: -1px;
    width: 980px;
    background-image: url(/img/c_27.jpg);
    background-repeat: repeat-x;
}
.nleft
{
    float: left;
    width: 26px;
    height: 65px;
    background-image: url(/img/c_26.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}
.nright
{
    float: right;
    width: 23px;
    height: 65px;
    background-image: url(/img/c_36.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}
.dnav
{
    width: 771px;
    float: left;
    font-size: 12px;
}
.gohome
{
    width: 160px;
    float: left;
    margin-top: 8px;
}
.dnav ul
{
    margin-top: 15px;
}
.dnav li
{
    float: left;
}
.dnav li a
{
    width: 95px;
    height: 32px;
    text-align: center;
    display: inline-block;
    line-height: 32px;
    text-decoration: none;
    color: #626262;
    background-image: url(/img/c_27.jpg);
    background-position: 0px -15px;
}
.dnav li a:hover
{
    color: White;
    background-image: url(/img/c_56.jpg);
    background-position: 0px 0px;
}
/* content */
.content
{
    width: 980px;
    overflow: hidden;
}
.cs
{
    width: 240px;
    overflow: hidden;
}
.cl
{
    width: 729px;
    overflow: hidden;
}
.cldDjx
{
    width: 960px;
    overflow: hidden;
}
.clnav
{
    font-size: 12px;
    line-height: 25px;
    height: 25px;
}
.csbox1
{
    width: 240px;
    overflow: hidden;
}
.csbox11, .csbox112
{
    height: 4px;
    width: 240px;
    background-image: url(/img/c_91.jpg);
    overflow: hidden;
    font-size: 0px;
}
.csbox12
{
    padding-top: 5px;
    border-left: 1px solid #b3db84;
    border-right: 1px solid #b3db84;
    background-color: #f5ffe8;
    overflow: hidden;
}

.cphoto
{
    width: 200px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    border: 1px solid #ffffff;
}
.cphoto img
{
    width: 200px;
}
.cteacher
{
    padding-left: 10px;
    margin-top: 6px;
    color: #177a1c;
    line-height: 1.5;
    font-size: 12px;
    overflow: hidden;
    width: 218px;
}
.ctleft
{
    width: 200px;
    overflow: hidden;
    float: left;
    font-weight: bold;
}
.ctright
{
    float: left;
    text-indent: 30px;
}
.ctright a
{
    text-decoration: none;
    color: #177a1c;
}
.ctright a:hover
{
    color: Red;
}
.cdate
{
    padding: 10px;
    font-size: 12px;
}
.tlaif
{
    padding-top: 6px;
    margin-left: 10px;
    height: 30px;
    color: #177a1c;
    padding-left: 25px;
    line-height: 25px;
    font-weight: bold;
    overflow: hidden;
}
.fklogo
{
    background-image: url(/img/c_1332.jpg);
    background-repeat: no-repeat;
    background-position: 0px 5px;
}
.srlogo
{
    background-image: url(/img/c_133.jpg);
    background-repeat: no-repeat;
    background-position: 0px 5px;
}
.opbox
{
    overflow: hidden;
}
.opbox1
{
    float: left;
    margin-left: 15px;
    _margin-left: 8px;
}
.csbox12 ul
{
    margin: 0px;
    padding: 0px;
    _height: 260px;
}
.csbox12 li
{
    float: left;
    margin-left: 15px;
    _margin-left: 8px;
}
.lfphoto
{
    width: 60px;
    height: 60px;
    background-image: url(/img/pb1.jpg);
    background-repeat: no-repeat;
}
.lfphoto img
{
    width: 48px;
    height: 48px;
    margin-left: 5px;
    margin-top: 5px;
}
.lfname
{
    line-height: 2;
    font-size: 12px;
    width: 60px;
    text-align: center;
}
.lfname a
{
    text-decoration: none;
    color: #ff6c00;
}
.ctongji
{
    padding-top: 6px;
    margin-left: 10px;
    height: 30px;
    background-image: url(/img/c_176.jpg);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    color: #177a1c;
    padding-left: 25px;
    line-height: 25px;
    font-weight: bold;
}
.ctj
{
    line-height: 1.5;
    margin-left: 35px;
    overflow: hidden;
}
.tjzs
{
    margin-left: 35px;
    overflow: hidden;
    height: 30px;
}
.tjzs div
{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}
.clbox1
{
    width: 729px;
    overflow: hidden;
}
.cl101
{
    width: 729px;
    height: 8px;
    font-size: 0px;
}
.cl102
{
    width: 727px;
    overflow: hidden;
    border-left: 1px solid #e8e8e6;
    border-right: 1px solid #e8e8e6;
}
.cl103
{
    width: 729px;
    height: 9px;
    font-size: 0px;
}
.mleft
{
    width: 475px;
    height: 379px;
    background-image: url(/img/gai_34.jpg);
    overflow: hidden;
    position: relative;
}
.mainbox
{
    width: 400px;
    border: 2px solid white;
    margin-left: 31px;
    _margin-left: 15px;
    margin-top: 19px;
    float: left;
    background-color: white;
    height: 330px;
    overflow: hidden;
}
.mright
{
    overflow: hidden;
    width: 245px;
    background-image: url(/img/gai_33.jpg);
    height: 379px;
}
.ogg
{
    width: 190px;
    height: 80px;
    margin-left: 35px;
    margin-top: 60px;
}

.gg
{
    width: 180px;
    height: 80px;
    line-height: 1.7;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    border: 1px solid inherit;
}
.gg marquee
{
    height: 80px;
}

.newlist a
{
    color: #177a1c;
}
.xxstyle
{
    margin-left: 15px;
    height: 150px;
    font-size: 12px;
    line-height: 20px;
}
.xxstyle marquee
{
    height: 150px;
}
.xxs
{
    width: 210px;
    height: 150px;
    margin-left: 20px;
    margin-top: 75px;
}
.xxs1
{
    height: 28px;
    padding-left: 15px;
    background-image: url(/img/dot2.jpg);
    background-repeat: no-repeat;
    background-position: 0px 4px;
    line-height: 28px;
    font-size: 12px;
    margin-left: 10px;
}
.xxs1 a
{
    text-decoration: none;
    color: #4dad41;
}
.xxs1 a:hover
{
    text-decoration: underline;
}
.jiaoxue
{
    float: right;
    height: 208px;
    width: 347px;
    overflow: hidden;
}
.axtitle
{
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
}
.atleft
{
    float: left;
}
.atright
{
    float: right;
    font-family: Arial;
    font-size: 12px;
}
.atright a
{
    text-decoration: none;
    padding-right: 23px;
    color: #ccae72;
}
.alist
{
    margin-left: 20px;
    width: 300px;
    margin-top: 10px;
}
.alist li
{
    height: 30px;
    line-height: 30px; #height:26px;
    #line-height:26px;
}
.al
{
    float: left;
    width: 190px;
    padding-left: 20px;
    background-image: url(/img/ye.jpg);
    background-position: 0px 6px;
    background-repeat: no-repeat;
}
.ar
{
    float: right;
    width: 90px;
    text-align: right;
}
.alist a
{
    text-decoration: none;
    color: #626262;
}
.alist a:hover
{
    text-decoration: underline;
    color: red;
}
.clbox3
{
    width: 729px;
    overflow: hidden;
    overflow: hidden;
    background-image: url(/img/08-1_03.jpg);
    background-repeat: no-repeat;
}
.ptlimgbox
{
    width: 166px;
    height: 166px;
    background-image: url(/img/08-1_07.jpg);
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
}
.ptlimgbox img
{
    margin-top: 9px;
    margin-left: 7px;
    width: 150px;
    height: 150px;
}
.pttitle
{
    width: 100%;
    overflow: hidden;
    margin-top: 18px;
}
.ptleft
{
    float: left;
}
.ptright
{
    float: right;
    font-family: Arial;
}
.ptright a
{
    text-decoration: none;
    padding-right: 25px;
    color: #ccae72;
}
.ptlist
{
    width: 706px;
    overflow: hidden;
    margin-left: 12px;
    margin-top: 10px;
    background-color: White;
}
.clbox4
{
    width: 729px;
    overflow: hidden;
    background-image: url(/img/c_191.jpg);
}
.srlist
{
    height: 100px;
}
.clbox4b
{
    background-image: url(/img/c_218.jpg);
    width: 729px;
    height: 10px;
    overflow: hidden;
}
.msbox
{
    width: 729px;
    overflow: hidden;
    margin-top: 10px;
}
.ms01
{
    width: 729px;
    overflow: hidden;
    height: 32px;
    background-image: url(/img/c_244.jpg);
}
.msleft
{
    float: left;
}
.msright
{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.msright a
{
    text-decoration: none;
    color: #ccae72;
    font-size: 12px;
}
.ms02
{
    overflow: hidden;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    width: 727px;
}
.msitem
{
    margin-left: 10px;
    margin-top: 10px;
    width: 710px;
    overflow: hidden;
}
.msitem2
{
    margin-left: 10px;
    padding-top: 10px;
    width: 645px;
    overflow: hidden;
}
.bbsline
{
    border-top: 1px dashed #cccccc;
}
.msiright2
{
    float: left;
    width: 575px;
    overflow: hidden;
}
.msiright3
{
    float: left;
    width: 550px;
    overflow: hidden;
    margin-left: 25px;
}
.msiright4
{
    float: left;
    width: 525px;
    overflow: hidden;
    margin-left: 50px;
}
.msiright5
{
    float: left;
    width: 500px;
    overflow: hidden;
    margin-left: 75px;
}
.msiright6
{
    float: left;
    width: 475px;
    overflow: hidden;
    margin-left: 100px;
}
.msiright7
{
    float: left;
    width: 450px;
    overflow: hidden;
    margin-left: 125px;
}
.msiimg
{
    float: left;
    width: 70px;
    min-height: 30px;
}
.msiimg img
{
    width: 60px;
    height: 60px;
    border: 1px solid #efefef;
}
.msiright
{
    float: left;
    width: 635px;
    overflow: hidden;
}
.msinfo
{
    background-color: #cce69d;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding-left: 5px;
}
.msinfol
{
    float: left;
    padding-left: 5px;
}
.msinfor
{
    float: right;
    padding-right: 10px;
}
.msinfo a
{
    color: #339900;
    text-decoration: none;
}
.mstxt
{
    line-height: 25px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 12px;
}
/* footer */
.footerc
{
    width: 100%;
    margin-top: 10px;
    background-image: url(/img/b_05.png) !important; /* FF IE7 */
    _background: url(/img/b_05.gif);
    background-repeat: repeat-x;
    height: 69px;
}