<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.allene.school.dao.mapper.InfoMapper">


	<resultMap id="InfoPo" type="cn.allene.school.po.Info">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="content" property="content" jdbcType="VARCHAR"/>
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="last_time" property="lastTime" jdbcType="TIMESTAMP"/>
		<result column="total" property="total" jdbcType="INTEGER"/>
		<result column="cate_id" property="cateId" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="fieldSql">
		 t.id
		,t.title
		,t.content
		,t.add_time
		,t.last_time
		,t.total
		,t.cate_id
	</sql>

	<sql id="whereSql">
		<if test="id != null">
			AND t.id = #{id,jdbcType = INTEGER}
		</if>
		<if test="idList != null">
			AND 
			<foreach collection="idList" item="idItem" open="(" close=")" separator="OR">
				t.id = #{idItem,jdbcType = INTEGER}
			</foreach>
		</if>
		<if test="title != null and title != ''">
			AND t.title = #{title,jdbcType = VARCHAR}
		</if>
		<if test="content != null and content != ''">
			AND t.content = #{content,jdbcType = VARCHAR}
		</if>
		<if test="minAddTime != null">
			AND t.add_time &gt;= #{minAddTime,jdbcType = TIMESTAMP}
		</if>
		<if test="maxAddTime != null">
			AND t.add_time &lt;= #{maxAddTime,jdbcType = TIMESTAMP}
		</if>
		<if test="total != null">
			AND t.total = #{total,jdbcType = INTEGER}
		</if>
		<if test="cateId != null">
			AND t.cate_id = #{cateId,jdbcType = INTEGER}
		</if>
		<if test="cateIdList != null">
			AND
			<foreach collection="cateIdList" item="idItem" open="(" close=")" separator="OR">
				t.cate_id = #{idItem,jdbcType = INTEGER}
			</foreach>
		</if>
	</sql>

	<select id="select" parameterType="Integer" resultMap="InfoPo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM info t 
		 WHERE t.id = #{id,jdbcType = INTEGER} 
	</select>

	<select id="count" parameterType="cn.allene.school.po.condition.InfoCondition" resultType="Integer" >
		SELECT 
			count(1)
		  FROM info t 
		 WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<select id="selectList" parameterType="cn.allene.school.po.condition.InfoCondition" resultMap="InfoPo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM info t 
		 WHERE 1=1
		<include refid="whereSql"/>
		ORDER BY id desc
	</select>

	<insert id="insert" parameterType="cn.allene.school.po.Info">
		<selectKey resultType="Integer" order="AFTER" keyProperty="id">
				SELECT LAST_INSERT_ID()
		</selectKey>

		INSERT INTO info(  
			id
		<if test="title != null">
			,title
		</if>
		<if test="content != null">
			,content
		</if>
		<if test="addTime != null">
			,add_time
		</if>
		<if test="lastTime != null">
			,last_time
		</if>
		<if test="total != null">
			,total
		</if>
		<if test="cateId != null">
			,cate_id
		</if>
		)
		VALUES( 
			#{id,jdbcType=INTEGER}
		<if test="title != null">
			,#{title,jdbcType=VARCHAR}
		</if>
		<if test="content != null">
			,#{content,jdbcType=VARCHAR}
		</if>
		<if test="addTime != null">
			,#{addTime,jdbcType=TIMESTAMP}
		</if>
		<if test="lastTime != null">
			,#{lastTime,jdbcType=TIMESTAMP}
		</if>
		<if test="total != null">
			,#{total,jdbcType=INTEGER}
		</if>
		<if test="cateId != null">
			,#{cateId,jdbcType=INTEGER}
		</if>
		)
	</insert>

	<update id="update" parameterType="cn.allene.school.po.Info">
		UPDATE info t
		 <set>
		    <if test="title != null">
			    t.title = #{title,jdbcType = VARCHAR}, 
		    </if>
		    <if test="content != null">
			    t.content = #{content,jdbcType = VARCHAR}, 
		    </if>
		    <if test="addTime != null">
			    t.add_time = #{addTime,jdbcType = TIMESTAMP}, 
		    </if>
		    <if test="lastTime != null">
			    t.last_time = #{lastTime,jdbcType = TIMESTAMP}, 
		    </if>
		    <if test="total != null">
			    t.total = #{total,jdbcType = INTEGER}, 
		    </if>
		    <if test="cateId != null">
			    t.cate_id = #{cateId,jdbcType = INTEGER}, 
		    </if>
	    </set>
		 WHERE t.id= #{id,jdbcType = INTEGER}
	</update>

	<delete id="delete" parameterType="Integer">
		 DELETE FROM info
		  WHERE id = #{id,jdbcType=INTEGER} 
	</delete>
</mapper>