<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.allene.school.dao.mapper.AdminRoleMapper">


	<resultMap id="AdminRolePo" type="cn.allene.school.po.AdminRole">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="admin_id" property="adminId" jdbcType="INTEGER"/>
		<result column="role_id" property="roleId" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="fieldSql">
		 t.id
		,t.admin_id
		,t.role_id
	</sql>

	<sql id="whereSql">
		<if test="id != null">
			AND t.id = #{id,jdbcType = INTEGER}
		</if>
		<if test="idList != null">
			AND 
			<foreach collection="idList" item="idItem" open="(" close=")" separator="OR">
				t.id = #{idItem,jdbcType = INTEGER}
			</foreach>
		</if>
		<if test="adminId != null">
			AND t.admin_id = #{adminId,jdbcType = INTEGER}
		</if>
		<if test="roleId != null">
			AND t.role_id = #{roleId,jdbcType = INTEGER}
		</if>
	</sql>

	<select id="select" parameterType="Integer" resultMap="AdminRolePo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM admin_role t 
		 WHERE t.id = #{id,jdbcType = INTEGER} 
	</select>

	<select id="count" parameterType="cn.allene.school.po.condition.AdminRoleCondition" resultType="Integer" >
		SELECT 
			count(1)
		  FROM admin_role t 
		 WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<select id="selectList" parameterType="cn.allene.school.po.condition.AdminRoleCondition" resultMap="AdminRolePo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM admin_role t 
		 WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<insert id="insert" parameterType="cn.allene.school.po.AdminRole">
		<selectKey resultType="Integer" order="AFTER" keyProperty="id">
				SELECT LAST_INSERT_ID()
		</selectKey>

		INSERT INTO admin_role(  
			id
		<if test="adminId != null">
			,admin_id
		</if>
		<if test="roleId != null">
			,role_id
		</if>
		)
		VALUES( 
			#{id,jdbcType=INTEGER}
		<if test="adminId != null">
			,#{adminId,jdbcType=INTEGER}
		</if>
		<if test="roleId != null">
			,#{roleId,jdbcType=INTEGER}
		</if>
		)
	</insert>

	<update id="update" parameterType="cn.allene.school.po.Admin">
		UPDATE admin_role t
		 <set>
		    <if test="adminId != null">
			    t.admin_id = #{adminId,jdbcType = INTEGER}, 
		    </if>
		    <if test="roleId != null">
			    t.role_id = #{roleId,jdbcType = INTEGER}, 
		    </if>
	    </set>
		 WHERE t.id= #{id,jdbcType = INTEGER}
	</update>

	<delete id="delete" parameterType="Integer">
		 DELETE FROM admin_role
		  WHERE id = #{id,jdbcType=INTEGER} 
	</delete>
</mapper>