<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.allene.school.dao.mapper.ClassMapper">


	<resultMap id="ClassPo" type="cn.allene.school.po.Class">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="admin_id" property="adminId" jdbcType="INTEGER"/>
		<result column="notice" property="notice" jdbcType="VARCHAR"/>
		<result column="news" property="news" jdbcType="VARCHAR"/>
		<result column="browse" property="browse" jdbcType="VARCHAR"/>
		<result column="pic" property="pic" jdbcType="VARCHAR"/>
		<result column="state" property="state" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="fieldSql">
		 t.id
		,t.name
		,t.add_time
		,t.admin_id
		,t.notice
		,t.news
		,t.browse
		,t.pic
		,t.state
	</sql>

	<sql id="whereSql">
		<if test="id != null">
			AND t.id = #{id,jdbcType = INTEGER}
		</if>
		<if test="idList != null">
			AND 
			<foreach collection="idList" item="idItem" open="(" close=")" separator="OR">
				t.id = #{idItem,jdbcType = INTEGER}
			</foreach>
		</if>
		<if test="adminId != null and adminId != ''">
			AND t.admin_id = #{adminId,jdbcType = INTEGER}
		</if>
		<if test="name != null and name != ''">
			AND t.name = #{name,jdbcType = VARCHAR}
		</if>
		<if test="notice != null and notice != ''">
			AND t.notice = #{notice,jdbcType = VARCHAR}
		</if>
		<if test="news != null and news != ''">
			AND t.news = #{news,jdbcType = VARCHAR}
		</if>
		<if test="browse != null and browse != ''">
			AND t.browse = #{browse,jdbcType = VARCHAR}
		</if>
		<if test="pic != null and pic != ''">
			AND t.pic = #{pic,jdbcType = VARCHAR}
		</if>
		<if test="pic != null">
			AND t.state = #{state,jdbcType = INTEGER}
		</if>
		<if test="minAddTime != null">
			AND t.add_time &gt;= #{minAddTime,jdbcType = TIMESTAMP}
		</if>
		<if test="maxAddTime != null">
			AND t.add_time &lt;= #{maxAddTime,jdbcType = TIMESTAMP}
		</if>
	</sql>

	<select id="select" parameterType="Integer" resultMap="ClassPo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM class t 
		 WHERE t.id = #{id,jdbcType = INTEGER} 
	</select>

	<select id="count" parameterType="cn.allene.school.po.condition.ClassCondition" resultType="Integer" >
		SELECT 
			count(1)
		  FROM class t 
		 WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<select id="selectList" parameterType="cn.allene.school.po.condition.ClassCondition" resultMap="ClassPo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM class t 
		 WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<insert id="insert" parameterType="cn.allene.school.po.Class">
		<selectKey resultType="Integer" order="AFTER" keyProperty="id">
				SELECT LAST_INSERT_ID()
		</selectKey>

		INSERT INTO class(  
			id
		<if test="adminId != null">
			,admin_id
		</if>
		<if test="name != null">
			,name
		</if>
		<if test="notice != null">
			,notice
		</if>
		<if test="news!= null">
			,news
		</if>
		<if test="browse!= null">
			,browse
		</if>
		<if test="pic != null">
			,pic
		</if>
		<if test="state != null">
			,state
		</if>
		<if test="addTime != null">
			,add_time
		</if>
		)
		VALUES( 
			#{id,jdbcType=INTEGER}
		<if test="adminId != null">
			,#{adminId,jdbcType=VARCHAR}
		</if>
		<if test="name != null">
			,#{name,jdbcType=VARCHAR}
		</if>
		<if test="notice != null">
			,#{notice,jdbcType=VARCHAR}
		</if>
		<if test="news != null">
			,#{news,jdbcType=VARCHAR}
		</if>
		<if test="browse != null">
			,#{browse,jdbcType=VARCHAR}
		</if>
		<if test="pic != null">
			,#{pic,jdbcType=VARCHAR}
		</if>
		<if test="state != null">
			,#{state,jdbcType=VARCHAR}
		</if>
		<if test="addTime != null">
			,#{addTime,jdbcType=TIMESTAMP}
		</if>
		)
	</insert>

	<update id="update" parameterType="cn.allene.school.po.Class">
		UPDATE class t
		 <set>
			 <if test="adminId != null and adminId != ''">
				 t.admin_id = #{adminId,jdbcType = INTEGER}
			 </if>
		    <if test="name != null">
			    t.name = #{name,jdbcType = VARCHAR}, 
		    </if>
			 <if test="notice != null">
				t.notice = #{notice,jdbcType=VARCHAR}
			 </if>
			 <if test="news != null">
				 t.news = #{news,jdbcType=VARCHAR}
			 </if>
			 <if test="browse != null">
				 t.browse = #{browse,jdbcType=VARCHAR}
			 </if>
			 <if test="pic != null">
				 t.pic = #{pic,jdbcType=VARCHAR}
			 </if>
			 <if test="state != null">
				 t.state = #{state,jdbcType=VARCHAR}
			 </if>
		    <if test="addTime != null">
			    t.add_time = #{addTime,jdbcType = TIMESTAMP}, 
		    </if>
	    </set>
		 WHERE t.id= #{id,jdbcType = INTEGER}
	</update>

	<delete id="delete" parameterType="Integer">
		 DELETE FROM class
		  WHERE id = #{id,jdbcType=INTEGER} 
	</delete>
</mapper>