<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.allene.school.dao.mapper.InfoCateMapper">


	<resultMap id="InfoCatePo" type="cn.allene.school.po.InfoCate">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="first_id" property="firstId" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="fieldSql">
		 t.id
		,t.name
		,t.first_id
	</sql>

	<sql id="whereSql">
		<if test="id != null">
			AND t.id = #{id,jdbcType = INTEGER}
		</if>
		<if test="idList != null">
			AND 
			<foreach collection="idList" item="idItem" open="(" close=")" separator="OR">
				t.id = #{idItem,jdbcType = INTEGER}
			</foreach>
		</if>
		<if test="name != null and name != ''">
			AND t.name = #{name,jdbcType = VARCHAR}
		</if>
		<if test="firstId != null">
			AND t.first_id = #{firstId,jdbcType = INTEGER}
		</if>
	</sql>

	<select id="select" parameterType="Integer" resultMap="InfoCatePo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM info_cate t 
		 WHERE t.id = #{id,jdbcType = INTEGER} 
	</select>

	<select id="count" parameterType="cn.allene.school.po.condition.InfoCateCondition" resultType="Integer" >
		SELECT 
			count(1)
		  FROM info_cate t 
		 WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<select id="selectList" parameterType="cn.allene.school.po.condition.InfoCateCondition" resultMap="InfoCatePo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM info_cate t 
		 WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<insert id="insert" parameterType="cn.allene.school.po.InfoCate">
		<selectKey resultType="Integer" order="AFTER" keyProperty="id">
				SELECT LAST_INSERT_ID()
		</selectKey>

		INSERT INTO info_cate(  
			id
		<if test="name != null">
			,name
		</if>
		<if test="firstId != null">
			,first_id
		</if>
		)
		VALUES( 
			#{id,jdbcType=INTEGER}
		<if test="name != null">
			,#{name,jdbcType=VARCHAR}
		</if>
		<if test="firstId != null">
			,#{firstId,jdbcType=INTEGER}
		</if>
		)
	</insert>

	<update id="update" parameterType="cn.allene.school.po.InfoCate">
		UPDATE info_cate t
		 <set>
		    <if test="name != null">
			    t.name = #{name,jdbcType = VARCHAR}, 
		    </if>
		    <if test="firstId != null">
			    t.first_id = #{firstId,jdbcType = INTEGER}, 
		    </if>
	    </set>
		 WHERE t.id= #{id,jdbcType = INTEGER}
	</update>

	<delete id="delete" parameterType="Integer">
		 DELETE FROM info_cate
		  WHERE id = #{id,jdbcType=INTEGER} 
	</delete>
</mapper>