<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.allene.school.dao.mapper.MsgMapper">


	<resultMap id="MsgPo" type="cn.allene.school.po.Msg">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="content" property="content" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="time" property="time" jdbcType="TIMESTAMP"/>
		<result column="status" property="status" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="fieldSql">
		 t.id
		,t.title
		,t.content
		,t.phone
		,t.time
		,t.status
		,t.name
	</sql>

	<sql id="whereSql">
		<if test="id != null">
			AND t.id = #{id,jdbcType = INTEGER}
		</if>
		<if test="idList != null">
			AND
			<foreach collection="idList" item="idItem" open="(" close=")" separator="OR">
				t.id = #{idItem,jdbcType = INTEGER}
			</foreach>
		</if>
		<if test="title != null and title != ''">
			AND t.title = #{title,jdbcType = VARCHAR}
		</if>
		<if test="content != null and content != ''">
			AND t.content = #{content,jdbcType = VARCHAR}
		</if>
		<if test="phone != null and phone != ''">
			AND t.phone = #{phone,jdbcType = VARCHAR}
		</if>
		<if test="status != null and status != ''">
			AND t.status = #{status,jdbcType = VARCHAR}
		</if>
		<if test="name != null and name != ''">
			AND t.name = #{name,jdbcType = VARCHAR}
		</if>
	</sql>

	<select id="select" parameterType="Integer" resultMap="MsgPo">
		SELECT
		<include refid="fieldSql"/>
		FROM msg t
		WHERE t.id = #{id,jdbcType = INTEGER}
	</select>

	<select id="count" parameterType="cn.allene.school.po.condition.MsgCondition" resultType="Integer" >
		SELECT
		count(1)
		FROM msg t
		WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<select id="selectList" parameterType="cn.allene.school.po.condition.MsgCondition" resultMap="MsgPo">
		SELECT
		<include refid="fieldSql"/>
		FROM msg t
		WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<insert id="insert" parameterType="cn.allene.school.po.Msg">
		<selectKey resultType="Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>

		INSERT INTO msg(
		id
		<if test="title != null">
			,title
		</if>
		<if test="content != null">
			,content
		</if>
		<if test="phone != null">
			,phone
		</if>
		<if test="time != null">
			,time
		</if>
		<if test="status != null">
			,status
		</if>
		<if test="name != null">
			,name
		</if>
		)
		VALUES(
		#{id,jdbcType=INTEGER}
		<if test="title != null">
			,#{title,jdbcType=VARCHAR}
		</if>
		<if test="content != null">
			,#{content,jdbcType=VARCHAR}
		</if>
		<if test="phone != null">
			,#{phone,jdbcType=VARCHAR}
		</if>
		<if test="time != null">
			,#{time,jdbcType=TIMESTAMP}
		</if>
		<if test="status != null">
			,#{status,jdbcType=VARCHAR}
		</if>
		<if test="name != null">
			,#{name,jdbcType=VARCHAR}
		</if>
		)
	</insert>

	<update id="update" parameterType="cn.allene.school.po.Msg">
		UPDATE msg t
		<set>
			<if test="title != null">
				t.title = #{title,jdbcType = VARCHAR},
			</if>
			<if test="content != null">
				t.content = #{content,jdbcType = VARCHAR},
			</if>
			<if test="phone != null">
				t.phone = #{phone,jdbcType = VARCHAR},
			</if>
			<if test="time != null">
				t.time = #{time,jdbcType = TIMESTAMP},
			</if>
			<if test="status != null">
				t.status = #{status,jdbcType = VARCHAR},
			</if>
			<if test="name != null">
				t.name = #{name,jdbcType = VARCHAR},
			</if>
		</set>
		WHERE t.id= #{id,jdbcType = INTEGER}
	</update>

	<delete id="delete" parameterType="Integer">
		 DELETE FROM msg
		  WHERE id = #{id,jdbcType=INTEGER} 
	</delete>
</mapper>