<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.allene.school.dao.RoleAccessMapper">


	<resultMap id="RoleAccessPo" type="cn.allene.school.po.RoleAccess">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="access_id" property="accessId" jdbcType="INTEGER"/>
		<result column="role_id" property="roleId" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="fieldSql">
		 t.id
		,t.access_id
		,t.role_id
	</sql>

	<sql id="whereSql">
		<if test="id != null">
			AND t.id = #{id,jdbcType = INTEGER}
		</if>
		<if test="idList != null">
			AND 
			<foreach collection="idList" item="idItem" open="(" close=")" separator="OR">
				t.id = #{idItem,jdbcType = INTEGER}
			</foreach>
		</if>
		<if test="accessId != null">
			AND t.access_id = #{accessId,jdbcType = INTEGER}
		</if>
		<if test="roleId != null">
			AND t.role_id = #{roleId,jdbcType = INTEGER}
		</if>
		<if test="accessIdList != null">
			AND
			<foreach collection="accessIdList" item="idItem" open="(" close=")" separator="OR">
				t.accessId = #{idItem,jdbcType = INTEGER}
			</foreach>
		</if>
		<if test="roleIdList != null">
			AND
			<foreach collection="roleIdList" item="idItem" open="(" close=")" separator="OR">
				t.role_id = #{idItem,jdbcType = INTEGER}
			</foreach>
		</if>
	</sql>

	<select id="select" parameterType="Integer" resultMap="RoleAccessPo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM role_access t 
		 WHERE t.id = #{id,jdbcType = INTEGER} 
	</select>

	<select id="count" parameterType="cn.allene.school.po.condition.RoleAccessCondition" resultType="Integer" >
		SELECT 
			count(1)
		  FROM role_access t 
		 WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<select id="selectList" parameterType="cn.allene.school.po.condition.RoleAccessCondition" resultMap="RoleAccessPo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM role_access t 
		 WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<insert id="insert" parameterType="cn.allene.school.po.RoleAccess">
		<selectKey resultType="Integer" order="AFTER" keyProperty="id">
				SELECT LAST_INSERT_ID()
		</selectKey>

		INSERT INTO role_access(  
			id
		<if test="accessId != null">
			,access_id
		</if>
		<if test="roleId != null">
			,role_id
		</if>
		)
		VALUES( 
			#{id,jdbcType=INTEGER}
		<if test="accessId != null">
			,#{accessId,jdbcType=INTEGER}
		</if>
		<if test="roleId != null">
			,#{roleId,jdbcType=INTEGER}
		</if>
		)
	</insert>

	<update id="update" parameterType="cn.allene.school.po.RoleAccess">
		UPDATE role_access t
		 <set>
		    <if test="accessId != null">
			    t.access_id = #{accessId,jdbcType = INTEGER}, 
		    </if>
		    <if test="roleId != null">
			    t.role_id = #{roleId,jdbcType = INTEGER}, 
		    </if>
	    </set>
		 WHERE t.id= #{id,jdbcType = INTEGER}
	</update>

	<delete id="delete" parameterType="Integer">
		 DELETE FROM role_access
		  WHERE id = #{id,jdbcType=INTEGER} 
	</delete>
</mapper>