<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.allene.school.dao.RoleMapper">


	<resultMap id="RolePo" type="cn.allene.school.po.Role">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="desc" property="desc" jdbcType="VARCHAR"/>
		<result column="access" property="access" jdbcType="VARCHAR"/>
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="fieldSql">
		 t.id
		,t.name
		,t.desc
		,t.access
		,t.add_time
	</sql>

	<sql id="whereSql">
		<if test="id != null">
			AND t.id = #{id,jdbcType = INTEGER}
		</if>
		<if test="idList != null">
			AND 
			<foreach collection="idList" item="idItem" open="(" close=")" separator="OR">
				t.id = #{idItem,jdbcType = INTEGER}
			</foreach>
		</if>
		<if test="name != null and name != ''">
			AND t.name = #{name,jdbcType = VARCHAR}
		</if>
	</sql>

	<select id="select" parameterType="Integer" resultMap="RolePo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM role t 
		 WHERE t.id = #{id,jdbcType = INTEGER} 
	</select>

	<select id="count" parameterType="cn.allene.school.po.condition.RoleCondition" resultType="Integer" >
		SELECT 
			count(1)
		  FROM role t 
		 WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<select id="selectList" parameterType="cn.allene.school.po.condition.RoleCondition" resultMap="RolePo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM role t 
		 WHERE 1=1
		<include refid="whereSql"/>
	</select>

	<insert id="insert" parameterType="cn.allene.school.po.Role">
		<selectKey resultType="Integer" order="AFTER" keyProperty="id">
				SELECT LAST_INSERT_ID()
		</selectKey>

		INSERT INTO role(  
			id
		<if test="name != null">
			,name
		</if>
		<if test="access != null">
			,access
		</if>
		<if test="addTime != null">
			,add_time
		</if>
		)
		VALUES( 
			#{id,jdbcType=INTEGER}
		<if test="name != null">
			,#{name,jdbcType=VARCHAR}
		</if>
		<if test="desc != null">
			,#{desc,jdbcType=VARCHAR}
		</if>
		<if test="access != null">
			,#{access,jdbcType=VARCHAR}
		</if>
		<if test="addTime != null">
			,#{addTime,jdbcType=TIMESTAMP}
		</if>
		)
	</insert>

	<update id="update" parameterType="cn.allene.school.po.Role">
		UPDATE role t
		 <set>
		    <if test="name != null">
			    t.name = #{name,jdbcType = VARCHAR}, 
		    </if>
			 <if test="desc != null">
				 t.desc = #{desc,jdbcType = VARCHAR},
			 </if>
			 <if test="access != null">
				 t.access = #{access,jdbcType = VARCHAR},
			 </if>
			 <if test="addTime != null">
				 t.add_time = #{addTime,jdbcType = TIMESTAMP},
			 </if>
	    </set>
		 WHERE t.id= #{id,jdbcType = INTEGER}
	</update>

	<delete id="delete" parameterType="Integer">
		 DELETE FROM role
		  WHERE id = #{id,jdbcType=INTEGER} 
	</delete>
</mapper>